nodetypes/radon.nodes.datapipeline.source/ConsGCSBucket/files/templatefile_localConn/GCSObject_consume.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>828d601e-0171-1000-586c-8ce1c1d0d129</groupId>
    <name>GCSObject_consume</name>
    <snippet>
        <controllerServices>
            <id>4c6c7b0b-f16e-38b3-0000-000000000000</id>
            <parentGroupId>11e64e91-b867-3e4e-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-gcp-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.4</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>application-default-credentials</key>
                    <value>
                        <name>application-default-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>compute-engine-credentials</key>
                    <value>
                        <name>compute-engine-credentials</name>
                    </value>
                </entry>
                <entry>
                    <key>service-account-json-file</key>
                    <value>
                        <name>service-account-json-file</name>
                    </value>
                </entry>
                <entry>
                    <key>service-account-json</key>
                    <value>
                        <name>service-account-json</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                        <name>proxy-configuration-service</name>
                    </value>
                </entry>
            </descriptors>
            <name>GCPCredentialsControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>application-default-credentials</key>
                </entry>
                <entry>
                    <key>compute-engine-credentials</key>
                </entry>
                <entry>
                    <key>service-account-json-file</key>
                    <value>/tmp/.opera/gcs/cred/credentials.json</value>
                </entry>
                <entry>
                    <key>service-account-json</key>
                </entry>
                <entry>
                    <key>proxy-configuration-service</key>
                </entry>
            </properties>
            <state>DISABLED</state>
            <type>org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService</type>
        </controllerServices>
        <processGroups>
            <id>f812221a-0f92-3f7f-0000-000000000000</id>
            <parentGroupId>11e64e91-b867-3e4e-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>73fa2a08-263c-3338-0000-000000000000</id>
                    <parentGroupId>f812221a-0f92-3f7f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f812221a-0f92-3f7f-0000-000000000000</groupId>
                        <id>a8214944-676f-3fbb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f812221a-0f92-3f7f-0000-000000000000</groupId>
                        <id>155ec012-3fb0-3aae-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>965d231d-c743-3d7d-0000-000000000000</id>
                    <parentGroupId>f812221a-0f92-3f7f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f812221a-0f92-3f7f-0000-000000000000</groupId>
                        <id>f4c3022a-742a-3cf9-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f812221a-0f92-3f7f-0000-000000000000</groupId>
                        <id>a8214944-676f-3fbb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>f4c3022a-742a-3cf9-0000-000000000000</id>
                    <parentGroupId>f812221a-0f92-3f7f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-208.0</x>
                        <y>-264.0</y>
                    </position>
                    <allowRemoteAccess>true</allowRemoteAccess>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>GCSObject_OP_localConn</name>
                    <state>STOPPED</state>
                    <transmitting>false</transmitting>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>155ec012-3fb0-3aae-0000-000000000000</id>
                    <parentGroupId>f812221a-0f92-3f7f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-920.0</x>
                        <y>-560.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-gcp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.gcp.credentials.service.GCPCredentialsService</identifiesControllerService>
    <name>GCP Credentials Provider Service</name>
</value>
                            </entry>
                            <entry>
<key>gcp-project-id</key>
<value>
    <name>gcp-project-id</name>
</value>
                            </entry>
                            <entry>
<key>gcp-retry-count</key>
<value>
    <name>gcp-retry-count</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-host</key>
<value>
    <name>gcp-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-port</key>
<value>
    <name>gcp-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-user-name</key>
<value>
    <name>gcp-proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-user-password</key>
<value>
    <name>gcp-proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>gcs-bucket</key>
<value>
    <name>gcs-bucket</name>
</value>
                            </entry>
                            <entry>
<key>gcs-prefix</key>
<value>
    <name>gcs-prefix</name>
</value>
                            </entry>
                            <entry>
<key>gcs-use-generations</key>
<value>
    <name>gcs-use-generations</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Project ID</key>
<value>
    <name>Project ID</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>4c6c7b0b-f16e-38b3-0000-000000000000</value>
                            </entry>
                            <entry>
<key>gcp-project-id</key>
<value>websitegcp</value>
                            </entry>
                            <entry>
<key>gcp-retry-count</key>
<value>6</value>
                            </entry>
                            <entry>
<key>gcp-proxy-host</key>
                            </entry>
                            <entry>
<key>gcp-proxy-port</key>
                            </entry>
                            <entry>
<key>gcp-proxy-user-name</key>
                            </entry>
                            <entry>
<key>gcp-proxy-user-password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>gcs-bucket</key>
<value>bucket1_utr</value>
                            </entry>
                            <entry>
<key>gcs-prefix</key>
                            </entry>
                            <entry>
<key>gcs-use-generations</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>bucket1_utr</value>
                            </entry>
                            <entry>
<key>Project ID</key>
<value>websitegcp</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListGCSBucket</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.gcp.storage.ListGCSBucket</type>
                </processors>
                <processors>
                    <id>a8214944-676f-3fbb-0000-000000000000</id>
                    <parentGroupId>f812221a-0f92-3f7f-0000-000000000000</parentGroupId>
                    <position>
                        <x>-920.0</x>
                        <y>-272.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-gcp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.11.4</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.gcp.credentials.service.GCPCredentialsService</identifiesControllerService>
    <name>GCP Credentials Provider Service</name>
</value>
                            </entry>
                            <entry>
<key>gcp-project-id</key>
<value>
    <name>gcp-project-id</name>
</value>
                            </entry>
                            <entry>
<key>gcp-retry-count</key>
<value>
    <name>gcp-retry-count</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-host</key>
<value>
    <name>gcp-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-port</key>
<value>
    <name>gcp-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-user-name</key>
<value>
    <name>gcp-proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>gcp-proxy-user-password</key>
<value>
    <name>gcp-proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>gcs-bucket</key>
<value>
    <name>gcs-bucket</name>
</value>
                            </entry>
                            <entry>
<key>gcs-key</key>
<value>
    <name>gcs-key</name>
</value>
                            </entry>
                            <entry>
<key>gcs-generation</key>
<value>
    <name>gcs-generation</name>
</value>
                            </entry>
                            <entry>
<key>gcs-server-side-encryption-key</key>
<value>
    <name>gcs-server-side-encryption-key</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Project ID</key>
<value>
    <name>Project ID</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>GCP Credentials Provider Service</key>
<value>4c6c7b0b-f16e-38b3-0000-000000000000</value>
                            </entry>
                            <entry>
<key>gcp-project-id</key>
                            </entry>
                            <entry>
<key>gcp-retry-count</key>
<value>6</value>
                            </entry>
                            <entry>
<key>gcp-proxy-host</key>
                            </entry>
                            <entry>
<key>gcp-proxy-port</key>
                            </entry>
                            <entry>
<key>gcp-proxy-user-name</key>
                            </entry>
                            <entry>
<key>gcp-proxy-user-password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>gcs-bucket</key>
<value>${gcs.bucket}</value>
                            </entry>
                            <entry>
<key>gcs-key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>gcs-generation</key>
                            </entry>
                            <entry>
<key>gcs-server-side-encryption-key</key>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>bucket1_utr</value>
                            </entry>
                            <entry>
<key>Project ID</key>
<value>websitegcp</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchGCSObject</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.gcp.storage.FetchGCSObject</type>
                </processors>
            </contents>
            <name>GCSObject_consume</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/24/2020 14:53:53 UTC</timestamp>
</template>
