nodetypes/radon.nodes.datapipeline.destination/PubsAzureBlob/files/templateFile_localConn/Out_Azure_Blob.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8afe6c75-0176-1000-22e5-bf055407b306</groupId>
    <name>Out_Azure_Blob</name>
    <snippet>
        <processGroups>
            <id>9b2b192a-2717-3317-0000-000000000000</id>
            <parentGroupId>269035eb-4990-3cc7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>988deb69-dd9c-38be-0000-000000000000</id>
                    <parentGroupId>9b2b192a-2717-3317-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9b2b192a-2717-3317-0000-000000000000</groupId>
                        <id>572c57c7-2e9c-3ca6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>9b2b192a-2717-3317-0000-000000000000</groupId>
                        <id>a6505c87-5fe6-3d0c-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>a6505c87-5fe6-3d0c-0000-000000000000</id>
                    <parentGroupId>9b2b192a-2717-3317-0000-000000000000</parentGroupId>
                    <position>
                        <x>-168.0</x>
                        <y>544.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Blob_In</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>572c57c7-2e9c-3ca6-0000-000000000000</id>
                    <parentGroupId>9b2b192a-2717-3317-0000-000000000000</parentGroupId>
                    <position>
                        <x>264.0</x>
                        <y>664.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-azure-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>container-name</key>
<value>
    <name>container-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.services.azure.storage.AzureStorageCredentialsService</identifiesControllerService>
    <name>storage-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-name</key>
<value>
    <name>storage-account-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-key</key>
<value>
    <name>storage-account-key</name>
</value>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
<value>
    <name>storage-sas-token</name>
</value>
                            </entry>
                            <entry>
<key>storage-endpoint-suffix</key>
<value>
    <name>storage-endpoint-suffix</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>blob</key>
<value>
    <name>blob</name>
</value>
                            </entry>
                            <entry>
<key>azure-create-container</key>
<value>
    <name>azure-create-container</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>container-name</key>
<value>deepradon</value>
                            </entry>
                            <entry>
<key>storage-credentials-service</key>
                            </entry>
                            <entry>
<key>storage-account-name</key>
                            </entry>
                            <entry>
<key>storage-account-key</key>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
                            </entry>
                            <entry>
<key>storage-endpoint-suffix</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>blob</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>azure-create-container</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutAzureBlobStorage</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.azure.storage.PutAzureBlobStorage</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Out_Azure_Blob</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>01/13/2021 11:13:22 UTC</timestamp>
</template>
