nodetypes/radon.nodes.datapipeline.source/ConsAzureBlob/files/templateFile_localConn/In_Azure_Blob.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8afe6c75-0176-1000-22e5-bf055407b306</groupId>
    <name>In_Azure_Blob</name>
    <snippet>
        <processGroups>
            <id>6e8c7ba1-83ea-3dbf-0000-000000000000</id>
            <parentGroupId>269035eb-4990-3cc7-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0c85a0f3-2ad9-3a0e-0000-000000000000</id>
                    <parentGroupId>6e8c7ba1-83ea-3dbf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6e8c7ba1-83ea-3dbf-0000-000000000000</groupId>
                        <id>4e05fd2f-10c2-3f6c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6e8c7ba1-83ea-3dbf-0000-000000000000</groupId>
                        <id>cc190a84-78f5-376e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5bfe753a-cfce-31e9-0000-000000000000</id>
                    <parentGroupId>6e8c7ba1-83ea-3dbf-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6e8c7ba1-83ea-3dbf-0000-000000000000</groupId>
                        <id>0608053f-9ebb-3d83-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6e8c7ba1-83ea-3dbf-0000-000000000000</groupId>
                        <id>4e05fd2f-10c2-3f6c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>0608053f-9ebb-3d83-0000-000000000000</id>
                    <parentGroupId>6e8c7ba1-83ea-3dbf-0000-000000000000</parentGroupId>
                    <position>
                        <x>744.0</x>
                        <y>304.0</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Blob_out</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>4e05fd2f-10c2-3f6c-0000-000000000000</id>
                    <parentGroupId>6e8c7ba1-83ea-3dbf-0000-000000000000</parentGroupId>
                    <position>
                        <x>104.0</x>
                        <y>248.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-azure-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>container-name</key>
<value>
    <name>container-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.services.azure.storage.AzureStorageCredentialsService</identifiesControllerService>
    <name>storage-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-name</key>
<value>
    <name>storage-account-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-key</key>
<value>
    <name>storage-account-key</name>
</value>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
<value>
    <name>storage-sas-token</name>
</value>
                            </entry>
                            <entry>
<key>storage-endpoint-suffix</key>
<value>
    <name>storage-endpoint-suffix</name>
</value>
                            </entry>
                            <entry>
<key>blob</key>
<value>
    <name>blob</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>container-name</key>
<value>deepsubhraradon</value>
                            </entry>
                            <entry>
<key>storage-credentials-service</key>
                            </entry>
                            <entry>
<key>storage-account-name</key>
                            </entry>
                            <entry>
<key>storage-account-key</key>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
                            </entry>
                            <entry>
<key>storage-endpoint-suffix</key>
                            </entry>
                            <entry>
<key>blob</key>
<value>${azure.blobname}</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchAzureBlobStorage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.azure.storage.FetchAzureBlobStorage</type>
                </processors>
                <processors>
                    <id>cc190a84-78f5-376e-0000-000000000000</id>
                    <parentGroupId>6e8c7ba1-83ea-3dbf-0000-000000000000</parentGroupId>
                    <position>
                        <x>112.0</x>
                        <y>-16.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-azure-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>container-name</key>
<value>
    <name>container-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.services.azure.storage.AzureStorageCredentialsService</identifiesControllerService>
    <name>storage-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-name</key>
<value>
    <name>storage-account-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-key</key>
<value>
    <name>storage-account-key</name>
</value>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
<value>
    <name>storage-sas-token</name>
</value>
                            </entry>
                            <entry>
<key>storage-endpoint-suffix</key>
<value>
    <name>storage-endpoint-suffix</name>
</value>
                            </entry>
                            <entry>
<key>prefix</key>
<value>
    <name>prefix</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>container-name</key>
<value>deepsubhraradon</value>
                            </entry>
                            <entry>
<key>storage-credentials-service</key>
                            </entry>
                            <entry>
<key>storage-account-name</key>
                            </entry>
                            <entry>
<key>storage-account-key</key>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
                            </entry>
                            <entry>
<key>storage-endpoint-suffix</key>
                            </entry>
                            <entry>
<key>prefix</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListAzureBlobStorage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.azure.storage.ListAzureBlobStorage</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>In_Azure_Blob</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>01/13/2021 14:16:15 UTC</timestamp>
</template>
