nodetypes/radon.nodes.datapipeline.process/attrMatchCondition/files/templateFile_localConn/attrmatchtemp_localConn.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>eb3aee6c-0179-1000-acd4-0e00ef9b3344</groupId>
    <name>attrmatchtemp</name>
    <snippet>
        <processGroups>
            <id>82cb54fa-de00-38e0-0000-000000000000</id>
            <parentGroupId>b7905d91-01ef-3484-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>356dd247-4795-30b5-0000-000000000000</id>
                    <parentGroupId>82cb54fa-de00-38e0-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>82cb54fa-de00-38e0-0000-000000000000</groupId>
                        <id>dc1b668c-8367-3bed-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>conditionmatched</selectedRelationships>
                    <source>
                        <groupId>82cb54fa-de00-38e0-0000-000000000000</groupId>
                        <id>9b696a42-d43a-304e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a9c0614c-e24b-3a92-0000-000000000000</id>
                    <parentGroupId>82cb54fa-de00-38e0-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>82cb54fa-de00-38e0-0000-000000000000</groupId>
                        <id>9b696a42-d43a-304e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>82cb54fa-de00-38e0-0000-000000000000</groupId>
                        <id>b24654c3-fbd1-3fa7-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>b24654c3-fbd1-3fa7-0000-000000000000</id>
                    <parentGroupId>82cb54fa-de00-38e0-0000-000000000000</parentGroupId>
                    <position>
                        <x>216.0</x>
                        <y>-8.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>attr_IP_local</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                    <validationErrors>'Port 'attr_IP_local'' is invalid because Port has no incoming connections</validationErrors>
                </inputPorts>
                <outputPorts>
                    <id>dc1b668c-8367-3bed-0000-000000000000</id>
                    <parentGroupId>82cb54fa-de00-38e0-0000-000000000000</parentGroupId>
                    <position>
                        <x>216.0</x>
                        <y>456.0</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>attr_OP_local</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                    <validationErrors>'Port 'attr_OP_local'' is invalid because Port has no outgoing connections</validationErrors>
                </outputPorts>
                <processors>
                    <id>9b696a42-d43a-304e-0000-000000000000</id>
                    <parentGroupId>82cb54fa-de00-38e0-0000-000000000000</parentGroupId>
                    <position>
                        <x>160.0</x>
                        <y>168.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>conditionmatched</key>
<value>
    <name>conditionmatched</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>conditionmatched</key>
<value>${fileSize:gt( 1000 )}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>conditionmatched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>attrMatchCondition</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/25/2021 12:31:14 UTC</timestamp>
</template>
